<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="Dhanush Parasa" content="John Dean Web Applications">
<meta name="Web Applications Course" content="Kansas City weather conditions">
<title>DHANUSH PARASA</title>
<style>
h1 {text-align: center;}
hr {width: 75%;}
</style>
</head>






<body>
<h1>DHANUSH'S WEB APPLICATION</h1>
<hr>
<center>

<a href="https://ibb.co/0JB0skw"><img src="https://i.ibb.co/mzvnNmx/4-A77-F89-A-287-B-4963-B62-F-E1-AB410-A5-F71.jpg" alt="4-A77-F89-A-287-B-4963-B62-F-E1-AB410-A5-F71" border="0"></a>
<a href="https://ibb.co/FHPXs4r"><img src="https://i.ibb.co/FHPXs4r/DSC07000.jpg" alt="DSC07000" border="0"></a>
<a href="https://ibb.co/GWvn5GD"><img src="https://i.ibb.co/GWvn5GD/throw-back.jpg" alt="throw-back" border="0"></a>
<a href="https://ibb.co/k4GKMcQ"><img src="https://i.ibb.co/k4GKMcQ/IMG-4777.jpg" alt="IMG-4777" border="0"></a>
<p> 
<blockquote>
<q>People’s lives don’t end when they die, it ends when they lose faith.</q>
<br>
 – Itachi Uchiha (Naruto)
</blockquote>

<blockquote>
<q>Whatever you lose, you’ll find it again. But what you throw away you’ll never get back.</q>

<br>
 – Himura Kenshin (Rurouni Kenshin)
</blockquote>

With a humidity reading of 55% in Vijayawada, it should feel like 93 degrees Celcius.
</p>
</center>
<center>
<div>
Saturdays temperatures:<br>
high 95, low 81
</div>
</body>
</center>

<br>

<center>
<head>
<style>
table, th, td {border: thin solid;}
</style>
</head>

<body>
<table>
<caption>MY WEEKLY SCHEDULE</caption><br>
<tr><th>SUNDAY</th><th>MONDAY</th><th>TUESDAY</th><th>WEDNESDAY</th><th>THURSDAY</th><th>FRIDAY</th><th>SATURDAY</th></tr>
<tr><td>SPORT'S DAY</td><td>WEB APPLICATION THEORY</td><td>WEB APPLICATION THEORY</td><td>WEB APPLICATION PROJECT</td><td>WEB APPLICATION THEORY</td><td>WEB APPLICATION PROJECT</td><td>WEB APPLICATION THEORY</td></tr>
<br>
</table>
</body>

<head>
<style>
.table {
display: table;
border-spacing: 20px;
}
.caption {
display: table-caption;
font-size: xx-large;
text-align: center;
}
.row {display: table-row;}
.row > * {
display: table-cell;
text-align: center;
}
</style>
</head>

<body>
<div class="table">
<div class="caption">TRAVEL PHOTOGRAPHY TABLE</div>
<div class="row">
  <tr><th><span><a href="https://ibb.co/FHPXs4r"><img src="https://i.ibb.co/FHPXs4r/DSC07000.jpg" alt="DSC07000" border="0"></span></th>
  <th><span><a href="https://ibb.co/GWvn5GD"><img src="https://i.ibb.co/GWvn5GD/throw-back.jpg" alt="throw-back" border="0"></span></th>
  <th><span><a href="https://ibb.co/k4GKMcQ"><img src="https://i.ibb.co/k4GKMcQ/IMG-4777.jpg" alt="IMG-4777" border="0"></span></th></tr>
</div>
<div class="row">
  <span>The Rocky Moutain</span> 
  <span>A Moment of Silence to enjoy the nature</span>
  <span>Crafting at Home Depot</span>
</div>
</div>
</body>
</center>
</html>